body {
    font-size: 25px;
    box-sizing :border-box ;
    background-color :rgb(28,28,28);
    max-height: 100%;
    color:white;
  
}

.para{
  margin-top:100px;
}

.inp{
  margin-top: 20px;
}
.out{
  margin-top:70px;
  max-width:100%;
}

input{
  display:flex;
  margin:10px;
  font-size: 20px;
  text-align: center;
  height:100px;
  width :200px;
  border:none;
  background-color: grey;
  border-radius:10px ;
  box-shadow: 0 2px 2px ;
}

.btns{
  
  height:80px;
  width:80px;
  background-color:grey;
  border: none;
  border-radius :20%;
  box-shadow:0 2px 2px ;
  margin: 5px;
}
.btns2{
  height:80px;
  width:80px;
  background-color:grey;
  border: none;
  border-radius :20%;
  box-shadow:0 2px 2px ;
  margin:5px;
}

button:hover{
  background-color :#f5ecf4 ;
  transition:1s;
}

.scores{
  position:absolute;
  top:60px;
  left:60px;
  background-color :white;
  border-radius:10px;
  text-align: center;
  color:red;
  text-shadow: fuchsia 1px 0 5px;
  font-size: 20px;
  background-color :whitesmoke;
}

div{
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}